<?php  foreach($coupon as $coupons){?>
<div class="offer_voucher col-lg-12 col-md-12 col-xs-12 ">
	<div class="col-md-2 col-lg-2 col-xs-12 earn">
	<p>Earn</p>
	<div class="cl"></div>
	<h4><?php echo $coupons['Coupon']['cashback']; ?></h4>
	<button type="button" class=" btn-cashback">Cashback</button>
    </div>
	<div class="col-md-7 col-lg-7 col-xs-12 ofer">
	<p>Verified 10h ago  •  16 People Used Today</p>
	<h4><?php echo $coupons['Coupon']['title']; ?></h4>
	<h6><?php echo $coupons['Coupon']['description']; ?><a href="#">More....</a> </h6>
	<h5><?php echo $this->Html->image('time.png') ;?>Expires: 17 Apr 2015</h5>
	</div>
	

	<div class="col-md-3 col-lg-3 col-xs-12 btn-cash-get">
	<button class=" btn btn-get-cash" type="submit">Get Cash Back</button>
	</div>

</div>
<?php }?>