*{border:0;margin:0;padding:0}
*{-webkit-font-smoothing:antialiased}
body{background:#fff; font-family:raleway;}
img{max-width:100%!important;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
h,h2,h3,h4,h5,h6,img,p,ul,li,a{font-weight:normal;margin:0px;text-decoration:none;list-style:none}
.cl{clear:both}
input,textarea,button,select,option{outline:none}
.padding-none{padding:0px;}



.navbar-default { background:none; border:0px;}
.banner_ht {
height: 556px;
display: table;
width: 100%;
/* background: url(../images/banner.jpg) no-repeat; */
background: url(../img/banner.jpg) no-repeat;
background-size: cover;
}

ul.nav.navbar-nav.navbar-right {
margin-top: 20px;
font-size: 18px;
color: #329cd6;
}

.navbar-default .navbar-nav>li>a { color:#329cd6;}