 .error{ 
    color:red; 
 }
 
 .success {
    background: #c3e2e2 none repeat scroll 0 0;
    border: 1px solid green;
    border-radius: 4px;
    color: green;
    margin: 5px;
    padding: 5px;
}
.error-message{ color: red;}

.serch_box{ text-align: left !important; font-size: 14px !important;}

.ChildVerticalTab{ display:inline-block !important; height:auto; width:100%; }
.ChildVerticalTab li{ float:left; padding: 5px}
.col-md-2.col-xs-3.offer_box > p{ height: 50px; margin-bottom: 15px;}
.icon-info{ font-size: 20px;}

.search-container{ margin-top: 0px;}
.slide{ top:15px;}
.count-results{ margin-left: 30px; font-weight: bold;}
.banner-text a{ padding-left: 5px; padding-right: 5px; }
.bold-text p{ line-height: 1.42857143;}
.row{ margin-left: -15px; margin-right: -15px;}
.offer_box h5{ height: 50px}
body{ line-height: 1.12857; }
.mid-logo img{ width: 322px; height: 106px;}



.search-form-home{ position: relative;}
.search-form-home .serach-result-ul{
    z-index: 2;
    position: absolute;
    border: 1px solid #c1c1c1;
    background: #fff;
    width: 100%;
}

.search-form-home .serach-result-ul li{
    color: #000;
    text-align: left;
}

.navbar-form.navbar-left{
    width: 100%;
}
.serach-result-ul{
    z-index: 9999;
    position: absolute;
    border: 1px solid #c1c1c1;
    background: #fff;
    width: 81.1%;
    display: none;
    border-radius: 4px;
}

.serach-result-ul li{
    width: 100%;
    padding: 5px 10px !important;
    border-bottom: 1px solid #c1c1c1;
}

.navbar-form navbar-left{ position: relative; }
.serach-result-ul img{
    width: 75px;
    height: 40px;
    margin-right: 10px;    
}
.serach-result-ul span{
    margin-right: 10px;
    position: relative;
    vertical-align: top;
    top: 10px;
    color: #000;
    font-size: 14px;   
}
.serach-result-ul a{ text-decoration: none;}

.srch-form{ outline:none; outline-width: none; }
