
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}
.resp-tab-item hor_1 {
color: #ef7c06 !important;
}
.resp-tab-item hor_1 ul li a { color:#000;}
.resp-tabs-list li a i { font-size:20px; padding-right:3px; text-decoration:none;}
.resp-tabs-list li {
font-weight: 600;
font-size: 18px;
display: inline-block;
padding: 13px 12.5px;
list-style: none;
cursor: pointer;
float: left;
border: 1px solid#ef7c06;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {    
    .resp-tabs-list li {
       padding: 13px 13.7px; 
    }
}
 .resp-tab-active a  { color:#fff !important;}
.resp-tabs-list li a {
color: #ff8a00;
text-decoration: none;}
.resp-tabs-list li 
.resp-tabs-list ul li > a > i { color:#2078b2 !important;}
.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
	border: 1px solid #ef7c06 !important;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
	
	border-bottom: 0px #fff solid !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
border-top: 1px solid;
border: 1px solid #5AB1D0 !important;
border-left: 4px solid #5AB1D0 !important;
margin-bottom: 4px !important;
border-right: 1px #FFF solid !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;/* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}

#ChildVerticalTab_1 ul { float:left;}
#ChildVerticalTab_1 ul li { padding:5px 5px 5px 5px; ;}
.retailer {
width: 84%;
margin: 0 auto;
}
.retailer h3 {
font-size: 30px;
color: #ef7b04;
text-align: center;
padding: 30px 0px;
}
div#ChildVerticalTab_1 ul li {
float: left;
}
@media only screen and (max-width: 1189px) { 
.resp-tab-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 1px solid #c1c1c1;
    border-image: none;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-style: solid;
    border-top-color: #f3ab00 !important;
    border-width: 1px;
}
.retailer {
  width: 100%;
  margin: 0 auto;
}
.resp-tabs-list li {
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
 padding: 13px 21.6px;
  list-style: none;
  cursor: pointer;
  float: left;
  border: 1px solid#ef7c06;
}
#ChildVerticalTab_1 ul li {
  padding: 5px 5px 0px 3px;
}
}