@media (max-width: 1190px) {
	.search_new {
width: 60%;
float: left;
margin-left: 0px !important;
}
br {
display: none;
}
.btn-cashback {

font-size: 16px;
padding: 10px 20px !important;
}

.box_1 { /*padding:0% 1% !important;*/}

.offer_box { margin: 25px 0 0 27px;}
.offer_box p { font-size: 12px;}
.offer_box span {
    color: #255d76;
    font-size: 12px;
    padding-left: 4px;
    text-align: center;
}
.offer_box h5 {
    color: #ff0000;
    font-size: 13px;
    padding: 15px 0;
    text-align: center;
}
.dilivery-option {
    width: 100% !important;
}
.paymen_dat {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #b3b3b2;
    margin-left: 0;
    margin-top: 10px;
    width: 100% !important;
}
ilivery-option {
    width: 100% !important;
}
.prod-1 {
    width: 47.4% !important;
}
.why_paisa ul li a {
    font-size: 15px;
    padding-left: 0 !important;
}
.why_paisa ul li {
    float: left;
    padding-bottom: 30px;
}
.right_nav {
    margin-top: 20px;
    padding: 0;
}


ul.last {
    display: none;
}

button.get {
    background: none repeat scroll 0 0 #1bbc9b;
    border-radius: 4px;
    color: #fff;
    height: 35px;
    margin: 0 0 20px 4px;
    padding: 8px;
    width: 96%;
}

.right_block {
    margin-top: 12px;
}

}
@media (max-width: 990px) {
	.mobile_offer ul li h4 {
    color: #f3ab00;
    display: inline;
    font-size: 20px;
    padding-left: 0;
}
	.top_heading { border:none;}
	.elec_cont {
    margin-top: 30px;
    padding: 0;
}
	.btn-cashback {
font-size: 16px;
padding: 10px 20px !important;
width: 100%;
}
.search_new {
    float: left;
    margin-left: 20px;
    width: 40%;
}
.serch_box { font-size:12px;}
.join_btn {
    margin-top: 16px;
}
.sign_btn {
    margin-left: 10px;
    margin-top: 14px;
}
.offer_box { margin: 25px 0px 0px 45px;}
button.btn.btn-get-cash {
background: none repeat scroll 0 0 #1bbc9b;
color: #fff;
font-size: 18px;
margin-top:4% !important;
margin-bottom: 16px !important;
padding: 10px 20px !important;
width:100%;

}
.right_block {
    margin-top: 12px;
}

#ChildVerticalTab_1 ul li {
   /* padding: 0 3px 3px 20px !important;*/
}

button.btn.btn-more {
    width: 50%;
}
.retailer {
    width: 100% !important;
}
.resp-tabs-list li {
    border: 1px solid #ef7c06;
    cursor: pointer;
    display: inline-block;
    float: left;
   font-size: 14px !important;
    list-style: outside none none;
    padding: 12px 6px !important;
}
.my_search_bar {
    width: 100%;
    margin: 2.5% 0%;
    text-align: center;
}
.banner_heading h1 {
  font-size: 45px;
}
.why_paisa h2 {
    font-size: 36px;
}}

@media (max-width: 600px) {
	.top_heading ul li a span {
    color: #7c7c7c;
    padding: 0 10px;
}
	.new_twit { display:none !important;}
	.offer_box {
  margin: 25px 0px 0px 36px;
	}
	ul.cate-dropdown li a{ color:#1bbc9b !important; font-size:12px !important;}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border:0px;}
		
	.input-group.main_search.form-group {
		display:block;
  					}
	.navbar-form.navbar-left{padding:10px 15px 0;}
	
	.serach-result-ul span{ color:#fff !important; font-size:1px !important;}
	.navbar-brand{margin-left:36px;}
	
	
	}
@media (max-width: 480px) {
.main_nav ul li {
float: left;
font-size: 12px;
padding: 15px 8px;
}
.bold-text p {
color: #717171;
font-size: 14px;
padding: 5px 5px;
}
.bold-text h2 {
color: #f3ab00;
font-size: 16px;
font-weight: bold;
padding: 0 5px;
}
.mid-logo img {
margin-top: 5px;
padding: 32px 20px 12px;
}
.new_logo { text-align:center; width:100% !important;}
.offer_box {
    margin: 25px 0px 0px 30px;
}
.prod-1 {
    margin: 5px auto !important;
    width: 94% !important;
}
.right_nav {
    margin-top: 12px;
    padding: 0;
	width:100%;
}
.right_nav .dropdown-menu a{font-size:16px; 
							color:#ef7c06;}
.logo {
    margin: 15px 0;
    padding: 0 10px;
    width: 40%;
}
.second_last {
    display: none !important;
}
.banner_heading h1 {
    font-size: 30px !important;
}
input.form-control.mysearch {
    background: none repeat scroll 0 0 #fff !important;
    border-bottom: 1px solid #ff9800;
    border-left: 1px solid #ff9800;
    border-top: 1px solid #ff9800;
    font-size: 10px;
    height: 50px;
}
button.btn.find {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #ff9800;
    border-right: 1px solid #ff9800;
    border-top: 1px solid #ff9800;
    color: #ccc;
    font-size: 13px;
    padding: 15px 20px;
}
.offer_box {
    width: 40% !important;
}
.resp-tabs-list li a {
    color: #ef7c06 !important;
    text-decoration: none;
}
button.btn.btn-more {
    width: 75% !important;
}
.right_nav .dropdown-menu a{font-size:16px; 
							color:#ef7c06;}
}
@media (max-width: 360px) {
	.new_logo { text-align:center;}

#ChildVerticalTab_1 ul li {
   /* padding: 0 3px 3px 51px !important;*/
}
.logo {
    margin: 15px 0;
    width: 55%;
}
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    border-radius: 6px;
    font-size: 14px;
    height: 46px;
    line-height: 1.33333;
    padding: 0 8px;
}
.offer_box {
    
    text-align: center;
    width: 80% !important;
}
.box_heading h3 {
    font-size: 16px;
    padding: 15px;
}
li.col-md-2.col-xs-4 {
    text-align: center;
    width: 100%;
}
button.btn.btn-more {
    width: 84%;
}
.prod-1 {
    width: 47.4%;
}
.flexcroll {scrollbar-arrow-color: green;}
.btn.btn-lg.btn-primary.btn-block.new-btn{font-size:12px;}
.btn.btn-lg.btn-info.btn-block.new-btn.googel{font-size:12px;}
.right_nav .dropdown-menu a{font-size:16px; 
							color:#ef7c06;}
div#ChildVerticalTab_1 ul li {width:100% !important;}
#ChildVerticalTab_1 img {width:100% !important; height:100px;}
.ChildVerticalTab li{ width:100%;}
div.hor_1 img{width:100% !important; height:100px;}
}
@media (max-width: 767px) {
.navbar-default .navbar-nav > li > a{color:#fff;}
.dropdown-menu>li>a{color:#fff !important;}
.new_logo { text-align:center;}
.resp-tabs-list li a {
    color: #ff8a00 !important;
    text-decoration: none !important;
}
button.btn.btn-join {
    /*width: 50%;*/
	float:right;
}
.why_paisa h2 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    padding: 22px 0;
    text-align: center;
}
.why_paisa ul li img {
    padding-left: 3% !important;
}
button.btn.btn-more {
    width: 50%;
}
.right_nav ul li {
    float: left;
    padding: 15px 0;
}
.right_nav ul li a {
    color: #fff;
    font-size: 20px;
}
.navbar-toggle {
    background-color: #1bbc9b;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    padding: 9px 10px;
    position: relative;
}
.navbar-fixed-top {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border-bottom: 2px solid #ef7c06;
}
.banner_heading h1 {
    color: #ef7c06;
    font-size: 46px;
    font-weight: bold;
}

.navbar-fixed-top {
    position: relative;
}
.navbar-collapse.collapse {
    background: none repeat scroll 0 0 #f3ab00;
    float: none;
    /*text-align: center;*/
    width: 100%;
}
.right_nav ul li {
    float: none;
    margin-left: 10px;
    width: 93%;
}
.news-search {
    margin: 35px 0;
    text-align: center;
    width: 91%;
}
.search_new { margin-left:0px;}
}