* {
    border: 0 none;
    margin: 0;
    padding: 0;
}
* {
}
body {
    background: none repeat scroll 0 0 #f2f2f2;
	font-family:"open Sans";
    text-decoration: none;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100% !important;
    vertical-align: middle;
}
h, h2, h3, h4, h5, h6, img, p, ul, li, a {
    font-weight: normal;
    list-style: outside none none;
    margin: 0;
    text-decoration: none;
}
.cl {
    clear: both;
}
input, textarea, button, select, option {
    outline: medium none;
}
.padding-none {
    padding: 0;
}
img {
    max-width: 100%;
}
.logo {
    margin: 20px 0;
    padding: 0 10px;
}
.navbar-default {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin-top: 18px;
}
.navbar-default .navbar-nav > li > a {
    color: #329cd6;
}
ul.nav.navbar-nav {
    font-family: raleway;
    font-size: 18px;
}
.carousel-caption {
    padding-bottom: 0;
    position: static !important;
    text-shadow: none;
}
.main_slider {
    background: url("../images/banner.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 3px 3px 3px #b5b5b5;
}
.main-title {
    color: #fff;
    padding: 16% 0 7%;
    text-align: center;
}
.main-title h3 {
    color: #6daefe;
    font-family: oswald;
    font-size: 65px;
    font-weight: bold;
}
.main-title h3 span {
    color: #454545;
}
.main-title p a {
    color: #454545;
    font-family: raleway;
    font-size: 22px;
    text-decoration: none;
}
.main-title h3 stron {
    font-size: 60px;
    font-weight: normal;
}
.main-title p {
    font-size: 20px;
}

.banner_heading h1 {
    color: #ef7c06;
    font-size: 56px;
    font-weight: bold;
}
.banner_heading h1 span {
    color: #1bbc9b;
}
.banner_heading p {
    color: #255d76;
    font-size: 22px;
    font-weight: 400;
    text-shadow: none;
}
.right_nav {
    margin-top: 22px;
    padding: 0;
	float:right;
}
.right_nav ul li {
    float: left;
    padding: 0 11px;
}
.right_nav ul li i {
    padding-right: 10px;
}
.right_nav ul li a {
    color: #ff9800;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}
.right_nav ul li a p {
    display: inline-block;
    font-family: "open Sans";
}

.mysearch {
    background: none repeat scroll 0 0 #fff !important;
    border-bottom: 2px solid #ff9800;
    border-left: 2px solid #ff9800;
    border-top: 2px solid #ff9800;
    font-size: 18px;
    height: 60px;
}
button.btn.find {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 2px solid #ff9800;
    border-right: 2px solid #ff9800;
    border-top: 2px solid #ff9800;
    color: #ccc;
    font-size: 16.8px;
    padding: 16px 38px;
}
.my_search_bar {
    width: 68%;
    margin: 2.5% 18%;
    text-align: center;
}
button.btn.btn-join {
    background: none repeat scroll 0 0 #1bbc9b;
    box-shadow: 0 0 5px 0 #888888;
    color: #fff;
    margin-top: -8px;
    padding: 8px 25px;
}
.retailer {
    margin: 0 auto;
    width: 80%;
}
.retailer h3 {
    color: #ef7b04;
    font-size: 28px;
    padding: 10px 0;
    text-align: center;
}

.whypaisa {
    background: none repeat scroll 0 0 #255d76;
    margin-top: 25px;
}
.why_paisa h2 {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    padding: 22px 0;
    text-align: center;
}
.why_paisa ul li {
    float: left;
}
.why_paisa ul li img {
    padding-left: 25px;
}
.why_paisa ul li a span {
    display: block;
}
.why_paisa ul li a {
    color: #fff;
    font-size: 18px;
    padding-left: 34px;
    text-align: center;
    text-decoration: none;
}
.add_bg {
    background: none repeat scroll 0 0 #f4f4f4;
    border-bottom: 2px solid #ef7900;
}
.sign_up {
    background: none repeat scroll 0 0 #ff9800;
}
.join {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    /*width: 33%;*/
}
.join > ul > li > a > h4 {
    color: #fff;
    font-size: 35px;
    text-decoration: none;
}
.join > ul > li > a:hover {
    text-decoration: none;
}
.join > ul > li > p {
    color: #fff;
    font-size: 15px;
    padding-top: 10px;
}
.Latest_Deals {
    background: url("../images/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.box_heading {
    background: none repeat scroll 0 0 #ff9800;
    color: #fff;
}
.box_heading h3 {
    font-size: 25px;
    padding: 15px;
}
.box_heading h3 span {
    float: right;
    padding-right: 15px;
}
#myCarousel1 .col-md-2 {
    min-height: 200px;
    max-height: 316px;
}
.my_crousel {
}
.i.glyphicon.glyphicon-chevron-left {
}
.latest {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.icon-info {
    color: #717171;
    float: right;
    font-size: 25px;
    padding-top: 4px;
}
.offer_box {
    border: 1px dotted #ccc;
    border-radius: 6px;
    margin: 25px 0 0 31px;
}
.offer_box a img {
    padding: 0 0 10px 10px;
}
.offer_box p {
    color: #373737;
    font-size: 14px;
    text-align: center;
}
.offer_box span {
    color: #255d76;
    font-size: 14px;
    padding-left: 8px;
    text-align: center;
}
.offer_box span i {
    padding-left: 10px;
    padding-top: 20px;
    text-align: center;
}
.offer_box h5 {
    color: #ff0000;
    font-size: 16px;
    padding: 15px 0;
    text-align: center;
}
.carousel-inner {
    padding-bottom: 35px;
}
button.get {
    background: none repeat scroll 0 0 #1bbc9b;
    border-radius: 4px;
    color: #fff;
    height: 35px;
    margin: 0 0 20px 10px;
    padding: 8px;
    width: 140px;
}
a.left.carousel-control.my_crousel, a.right.carousel-control {
    width: auto;
}
.footer-top {
    background-color: #eeeeee;
    border-top: 1px solid #dfdfdf;
}
.sub-warper {
    width: 100%;
}
.sub-one {
    color: #259fc4;
}
.sub-warper.pull-left {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 8px;
}
.sub-icon {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fafafa;
    border-color: #e2e2e2;
    border-image: none;
    border-right: 1px solid #e2e2e2;
    border-style: solid;
    border-width: 5px 1px 1px;
    font-size: 22px;
    margin: 15px auto 0;
    padding: 8px 40px;
    width: 100px;
}
.sub-warper h3 {
    color: #6e6e6e;
    font-family: "opensense";
    font-size: 26px;
    margin-top: 10px;
    text-align: center;
}
.sub-warper p {
    font-size: 14px;
    text-align: center;
}
.sub-line {
    border-left: 1px solid #dfdfdf;
}
.news-search {
    margin: 35px 0 0 17%;
    text-align: center;
    width: 61%;
}
.sub-two {
    color: #255d76;
}
.sub-three {
    color: #ff9800;
}
.sub-form input[type="email"] {
    background: none repeat scroll 0 0 #fafafa;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    box-shadow: 2px 1px 1px #e9e9e9 inset;
    display: block;
    font-size: 15px;
    height: 45px;
    margin: 35px 0 30px 50px;
    padding: 0 15px;
    width: 54%;
}
.sub-btn {
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}

.btn-sub {
    background-color: #1bbc9b;
    border-color: #1bbc9b;
    color: #fff;
    font-weight: bold;
   
}
footer {
    background: none repeat scroll 0 0 #286276;
    color: #fff;
    margin-top: 35px;
	border-top: 3px solid#f3ab00
}

.box_1 h4 {
    border-bottom: 1px solid #97b0b9;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 35px;
}
.box_1 ul li {
    border-bottom: 1px solid #97b0b9;
    padding: 10px 0;
}
.box_1 ul li:last-child {
    border-bottom: medium none;
}
.box_1 ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.box_1 ul li a span {
    font-family: "open Sans";
}
.social_icon ul li i {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 50px;
    color: #444444;
    height: 35px;
    padding: 10px;
    width: 35px;
}
.boottom_f {
    margin-bottom: 10px;
    margin-top: 18px;
    text-align: center;
}
.boottom_f p { font-size:14px; line-height:20px;}
.deal img { width:100%;}
button.btn.btn-more {
    background: none repeat scroll 0 0 #ff9800;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 23%;
}
.more_button {
    padding-bottom: 25px;
    text-align: center;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    background: none repeat scroll 0 0 #000;
    border-radius: 50px;
    font-size: 18px;
    margin-left: 0;
    padding-top: 6px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .right {
    background: none repeat scroll 0 0 #000;
    border-radius: 50px;
    font-size: 18px;
    margin-right: 0;
    padding-top: 6px;
}


.cat_page {
    background: none repeat scroll 0 0 #f2f2f2;
    position: relative;
}
.serch_box {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #cbcbcb;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    box-shadow: none;
    color: #878a8c;
    padding: 13px;
    width: 100%;
	font-family:"open Sans";
}

.sign_btn {
    margin-left: 49px;
    margin-top: 20px;
}
.join_btn {
    margin-top: 20px;
}
.main_nav {
    background: none repeat scroll 0 0 #255d76;
	font-family:"open Sans";
}
.main_nav ul li {
    float: left;
    font-size: 18px;
    padding: 15px 10px;
}
.main_nav ul li a {
    color: #fff;
    text-decoration: none;
}
.main_nav ul li a span {
    padding-left: 10px;
}
.top_heading {
    border-bottom: 1px solid #ef7900;
    font-family: "open Sans";
    font-size: 16px;
    margin-top: 15px;
    padding: 0 0 10px;
}
.top_heading ul li {
    float: left;
}
.top_heading ul li a {
    color: #1bbc9b;
    text-decoration: none;
}
.top_heading ul li a span {
    color: #7c7c7c;
    padding: 0 10px;
}
.googe-plus {
    padding-left: 15px;
}
.tweet {
    float: right;
}
.elec_cont {
    margin-top: 15px;
    padding: 0;
}
.left_section {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 20px;
    padding: 0;
}
.left_section h4 {
    background: none repeat scroll 0 0 #1bbc9b;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
}
.left_section h3 {
    background: none repeat scroll 0 0 #255d76;
    color: #fff;
    font-size: 18px;
    padding: 10px;
}
.left_section h3 span {
    padding-left: 14px;
}
.left_section h3 .left_section h4 span {
    padding-left: 14px;
}
.left_section ul {
    padding: 10px 15px 0;
}
.left_section ul h5 {
    color: #1bbc9b;
    font-size: 16px;
    padding-bottom: 10px;
}
.left_section ul h5 i {
    padding-right: 5px;
}
.left_section ul li {
    padding-bottom: 10px;
}
.left_section ul li a {
    color: #828282;
    text-decoration: none;
}
.left_section ul li a i {
    border: 1px solid #828282;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px;
}
.mobile_offer {
    margin-top: 10px;
    padding-right: 0;
}
.mobile_offer ul li h4 {
    color: #f3ab00;
    display: inline;
    font-size: 24px;
    padding-left: 8px;
}
.mobile_offer ul li p {
    background: none repeat scroll 0 0 #1bbc9b;
    color: #fff;
    display: inline;
    float: right;
    font-size: 16px;
    margin-top: -12px;
    padding: 3px 6px 3px 12px;
}
.mobile_offer ul li p span {
    display: inline-block;
    padding-left: 10px;
}
.type {
    border: 0 none;
    border-radius: 0;
}
.prod-1 {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.14);
    margin: 3% 0 0 2.3%;
    padding: 0;
    text-align: center;
    width: 31.4%;
}
.prod-1:first-child {
    margin-left: 0 !important;
}
.prod-1 img {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #a7a7a7;
    border-radius: 4px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.14);
    margin-top: 15px;
    padding: 30px;
    text-align: center;
}
.prod-1 ul li h5 {
   font-size: 18px !important;
    line-height: 1.1;
    padding: 11px 4px !important;
}
.prod-1 ul li p {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #7c7c7c;
    font-size: 14px;
	line-height:1.2;
}
.prod-1 ul li span {
    color: #255d76;
    font-family: "open Sans";
    font-size: 16px;
    margin-bottom: 15px;
}
.more_btn {
    font-size: 16px;
    text-decoration: underline;
	color:#ef7c06;
    
}
.btn-get {
    background: none repeat scroll 0 0 #1bbc9b;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.14);
    color: #fff;
    display: block;
    font-size: 20px;
    margin: 20px;
    width: 85%;
}
.like_box {
    border-top: 1px solid #ccc;
    margin-top: 10px;
}
.like_box li {
    border-right: 1px solid #ccc;
    float: left;
    padding-right: 10px;
}
.like_box li:last-child {
    border-right: medium none;
}
.like_box li a {
    text-decoration: none;
}
.like_box li a i {
    color: #7c7c7c;
    font-size: 20px;
    padding: 6.9px;
}
.like_box li a span {
    color: #7c7c7c;
}
.my-p {
    margin-left: 10px;
}
.banner-text {
    /*background: url("../images/cat/banner-2.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border: 1px solid #818181;
}
.banner-text li {
    padding-left: 8px;
    padding-top: 10px;
}
.banner-text a {
    color: #1bbc9b;
    padding-left: 15px;
    text-decoration: none;
}
.banner-text li a span {
    color: #7c7c7c;
    padding: 0 10px;
    text-decoration: none;
}
.bold-text {
    padding-bottom: 85px;
}
.bold-text h2 {
    color: #f3ab00;
    font-size: 26px;
    font-weight: bold;
    padding: 0 10px;
}
.bold-text p {
    color: #717171;
    font-size: 16px;
    padding: 5px 10px;
}
.bold-text a {
    display: inline-block;
}
.bold-text span {
    color: #255d76;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    padding-top: 10px;
}
.mid-logo {
    text-align: center;
}
.mid-logo img {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    margin-top: -60px;
    padding: 5px 15px; /*32px 20px 12px;*/
   
}
.dilivery-option {
    background: none repeat scroll 0 0 #f3ab00;
    border: 2px solid #b3b3b2;
    padding: 0;
    width: 32.3%;
}
.left_bus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: -moz-use-text-color -moz-use-text-color #b3b3b2 #b3b3b2;
    border-image: none;
    border-style: none none solid solid;
    border-width: 0 0 1px 1px;
    float: right;
    text-align: center;
    width: 35%;
}
.left_bus img {
    padding-top: 10px;
}
.left_bus a {
    color: #7c7c7c;
    display: block;
    padding-bottom: 6px;
    text-decoration: none;
}
.left_bus a {
}
.offer ul {
    margin-left: 15px;
}
.offer ul li {
    float: left;
}
.offer ul li h2 {
    color: #fff;
    font-family: oswald;
    font-size: 170px;
    font-weight: bold;
    padding-left: 5px;
}
.payment-box {
    margin-top: 30px;
    padding: 0;
}
.offer ul li h3 {
    color: #fff;
    font-family: oswald;
    font-size: 85px;
    padding-left: 10px;
}
.offer ul li h4 {
    color: #fff;
    font-family: oswald;
    font-size: 55px;
    padding-left: 10px;
}
.offer ul li a {
    color: #fff;
    float: right;
    font-size: 16px;
    text-decoration: underline;
}
.offer ul li span a {
    padding: 20px 0;
}
.btn-sign-join {
    background: none repeat scroll 0 0 #255d76;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
    margin: 0 auto 25px 20px;
    padding: 10px;
    width: 89%;
}
.payment_date {
    text-align: center;
}
.paymen_dat {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #b3b3b2;
    margin-left: 15px;
    width: 32.5%;
}
.payment_date {
    padding-top: 24px;
}
.payment_date img {
    margin-top: 25px;
}
.payment_date h4 {
    color: #3d99c2;
    font-size: 24px;
    font-weight: bold;
}
.trak {
}
.trak li {
    float: left;
    margin-bottom: 22px;
}
.trak li h5 {
    color: #ffab17;
    font-size: 28px;
    font-weight: bold;
    margin-left: 15px;
    text-align: center;
}
.trak li span {
    color: #7c7c7c;
    font-size: 15px;
    padding-left: 15px;
}
li.traking {
    float: right;
    margin-right: 15px;
}
li.traking h5 {
    margin: 0;
    padding: 0;
}
li.traking span {
    padding: 0;
}
.payment-method {
    margin-bottom: 9px;
    margin-left: 15px;
    margin-top: 15px;
    text-align: left;
}
.payment-method li {
    padding-bottom: 10px;
}
.payment-method a {
    color: #7c7c7c;
    font-size: 16px;
    text-decoration: none;
}
.payment-method a i {
    font-size: 18px;
    padding-right: 8px;
}
.retailer_left {
    margin-top: 25px;
}
.left_retailer h4 {
    border-bottom: 1px solid #ffab17;
    color: #ffab17;
    font-size: 28px;
    padding-bottom: 10px;
}
.left_retailer ul li {
    padding-top: 10px;
}
.left_retailer ul li a {
    text-decoration: none;
}
.left_retailer ul li a i {
    color: #f3ab00;
    font-size: 20px;
}
.left_retailer ul li a span {
    color: #7c7c7c;
    font-size: 18px;
}
.offer_voucher {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    margin-top: 15px;
}
.voucher_offer h3 {
    border-bottom: 1px solid #ffab17;
    color: #ffab17;
    float: right;
    font-size: 25px;
    padding-bottom: 6px;
}
.earn {
    background: none repeat scroll 0 0 #f58104;
    border-radius: 4px;
    margin: 20px 0;
    padding: 0;
}
.earn p {
    color: #fff;
    float: right;
    font-size: 16px;
    padding: 5px;
}
.earn h4 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0 20px;
    text-align: center;
}
.earn a {
    background: none repeat scroll 0 0 #3d99c2;
    color: #fff;
    text-decoration: none;
    width: 100%;
}
.btn-cashback {
    background: none repeat scroll 0 0 #3d99c2;
    color: #fff;
    font-size: 16px;
    padding: 10px 32.2px;
}
.ofer p {
    color: #f3ab00;
    font-family: "open Sans";
    font-size: 16px;
    margin: 20px 0 5px;
}
.ofer h4 {
    color: #1bbc9b;
    font-family: "open Sans";
    font-size: 33px;
}
.ofer h6 {
    color: #7c7c7c;
    font-family: "open Sans";
    font-size: 14px;
    margin: 12px 0 8px;
}
.ofer h6 span a {
    color: #3d99c2;
    text-decoration: none;
}
.ofer h5 {
    color: #ffab15;
    font-family: "open Sans";
    font-size: 18px;
}
.ofer h5 img {
    padding-right: 10px;
}
button.btn.btn-get-cash {
    background: none repeat scroll 0 0 #1bbc9b;
    color: #fff;
    font-size: 18px;
    margin-top: 45%;
    padding: 10px 20px;
    vertical-align: middle;
}















/*start to admin page---------------------------------------------------------*/
.admin_edit { margin:25px 0px;}
.new_drop a { text-decoration:none; color:#878a8c;}
.new_search_btn {
  background: #fff;
  color: #878a8c;
  padding: 10px;
  border-right: 1px solid#ccc;
  border-bottom: 1px solid#ccc;
  border-top: 1px solid#ccc;}
 .my_new_search { margin:30px 0px;} 
.search_new {
  width: 60%;
  float: left;
  margin-left: 40px;
}
.admin-outer{border:1px solid#b3b3b3; margin-top: 105px;}
.admin-p {
width: 97%;
margin: auto;
font-family: "open Sans";
padding: 26px 10px 0px 10px;
border-radius: 4px;
}
.admin-img{background: #e8e8e8;
  border-radius: 5px;
  /* padding: 57px; */
  float: right;
  text-align: center;}
.ad-bg-c{background:#f6f6f6;border:1px solid#e7e7e7; padding: 26px;}  
.ad-img{padding: 15px 28px 15px 30px;}
.ad-name{color:#f3ab00;}
.ad-name{color:#f3ab00;}
.ad-icon-watch{color:#f3ab00; margin-top:10px;}
.ad-text{padding: 8px 0px 0px 0px;
  line-height: 42px;
  color: #777676;}
/*.ad-map{border-bottom:1px solid#CCC;}*/
.img-map{margin-right:10px;}
.img-watch{margin-right:10px;}
.img-border{border-bottom:1px solid#e7e7e7;}
.img-border i { padding-right:5px;}
.admin-tab{border:1px solid#cbcbcb; margin-top: 10px;}
.admin-tab ul{ line-height:40px; width:78%;}
.admin-tab li{list-style:none; display:inline-block; position:relative;   border-left: 1px solid#cbcbcb; padding: 0px 0px 0px 16px;}
.admin-tab li a{  padding: 0px 30px; text-decoration:none; color:#505050;
  text-align: center;
  font-size: 18px;}
.admin-teb-img{margin: 14px 0px 0px 7px; position: absolute;}
.admin-teb-img-activity{margin: 8px 0px 0px 2px; position: absolute;}
.admin-teb-img-referral{margin: 12px 0px 0px 2px; position: absolute;}
.admin-tab ul li:hover{ background:#1bbc9b; color:#fff;}
.teb-con{margin-top:30px;}

.main_admin {
border: 1px solid#aeaeae;
background: #fff;
}

ul.cd-tabs-content {
	font-family:"open Sans";
margin-top: 20px;
}
.overview { width:73.5%;}
.overview a { text-decoration:none; color:#505050; font-size:16px; font-weight:600;}
.overview a i { font-size:18px; color:#f3ab00; padding-right:5px;}
.overview p { font-size:14px; color:#505050 !important; margin:13px; line-height:22px; font-weight:500;}


.balance { border:1px solid#6d6d6d; border-radius:4px; padding:0px; text-align:center;}

.balance h5 { color:#6d6d6d; text-decoration:none; font-size:16px; font-weight:bold; border-bottom:1px solid#6d6d6d; padding:15px;}
.balance i { font-size:20px ; color:#9e9e9e; padding-left:8px;}
.balance h3 { color:#f3ab00; font-size:50px ;  padding:15px 0px 5px 0px;}
.balance h3 i { color:#f3ab00; font-size:50px}
.balance h6 { color:#f3ab00; font-size:16px ;}
.balance p { color:#757575 !important; font-size:14px; padding-bottom:10px;}
.balance p span { padding-left:25px}
.btn-withdraw { background:#1bbc9b; font-size:14px; color:#fff; padding:10px; text-align:center; margin:20px 0px;}

.new_teble { margin:15px 0px;}
.new_teble h3 { font-size:16px; font-family:"open Sans"; color:#616161; font-weight:500}
.new_teble h3 i { color:#f3ab00; padding-right:10px;}
.btn-view { float:right; background:#255d76; padding:8px; border-radius:4px; color:#fff; font-size:12px; margin-top:-15px;}
.table_recent  { font-size:14px; font-weight:800; color:#5e5e5e;}
.table_recent i { padding-right:5px; font-size:12px;}
tbody { background:#f6f6f6;}




/*start of caseback--------------------------------------------------------------------*/
.refrel  a { text-decoration:none; color:#505050; font-size:16px; font-weight:600;}
.refrel  a i { font-size:18px; color:#f3ab00; padding-right:5px;}
.refrel p {
font-family: "open Sans";
font-size: 14px;
font-weight: 500;
color: #505050 !important;
line-height: 22px;
margin: 20px 10px;
}

span.glyphicon.glyphicon-envelope.form-control-feedback {
position: relative;
display: inline-block;
float: right;
margin-top: -60px;
font-size: 25px;
color: #818181;
padding-right: 40px;
}
.p_text {
padding: 0px 70px;
line-height:20px;
color:#727272;
font-size:14px;
margin-bottom:25px;
}

.newaleter {
margin:20px 0px;
display: block;
width: 100%;
padding:12px 16px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ref-back-Redeem-btn{padding: 17px 22px;
  color: #fff;
  background: #1bbc9b;
  width: 100%;
  border-radius: 2px;
  text-align: center;
  margin-top: 35px;}
.second {
float: right;
clear: both;
}
.first {
float: right;
}
.first h4 { background:#f3ab00; color:#fff; padding:10px; text-align:center; font-size:25px; margin:15px 10px 5px 0px; } 
.second  h4 { background:#1bbc9b; color:#fff; padding:10px; text-align:center; font-size:25px; margin-right:10px; } 
.second  h4 i { color:#fff;}

.referral-bg h5 { background:#f3ab00; color:#fff; float:right; padding:10px; text-align:center; font-size:25px;}

.ref-back i{color:#f3ab00;}
.referral-bg{ background:url(../images/referral%20bg.jpg);background-repeat:no-repeat; background-repeat: no-repeat;
background-size: 100%;
height: 371px;
width: 97%;
margin: 10px 18px;
}
.referral-bg-text{  color: #fff;
  padding: 14px;
  background: #f3ab00;
  text-align: right;
  font-size: 25px;
  font-family: "open Sans";
  /* position: relative; */
  float: right;
  margin: 27px;}


.referral-bg h2{color:#fff !important; padding:10px !important; font-size:25px!important; font-family:"open Sans"; background:#1bbc9b; text-align:right; }

.referral-bg-text1{color: #fff;
  padding: 12px;
  background: #1bbc9b;
  text-align: right;
  font-size: 25px;
  font-family: "open Sans";
  /* position: relative; */
  float: right;
  margin: -23px 25px 0px 22px;}
  

.myimg{width: 150px;
  height: 150px;
  text-align: center;
  border: 6px solid#255d76;
  border-radius: 50%;
  margin-left: 80px;
  background: #fff;
  margin-bottom: 14px;}
  
.myimg1{margin-top:30px;}
.ref-f p{color:#505050 !important;}
.ref-f2{width:90%; margin:auto;   text-align: center; margin-top:10px;}
.click_earn { text-align:center; margin:30px 0px; }
.click_earn h2 { font-size:35px; }
.click_earn span i { padding:0px 10px;}
.click_earn span { color:#1bbc9b;}
.click_earn h2 .mian_text { border-bottom:1px solid#f3ab00;  color:#f3ab00;}
.click_earn h2 .mian_text .earn_t { color:#7c7c7c;}
.myimg1{margin-top:30px;}
.ref-f p {
color: #505050 !important;
line-height: 20px;
padding: 0px 61px;
font-size: 14px;
font-weight: 500;
}
.ref-f {
margin-top: -7%;
}
.soclal_share {
margin: 0 auto;
text-align: center;
padding: 10px 30px;
}
.soc_1 { background:#354f8c; font-size:25px; color:#fff; text-align:left;}
.soc_1 a { text-decoration:none; color:#fff;} 
.soc_1 i { padding:15px 25px; background:#3c5a98; color:#fff;}
.soc_1 span { padding-left:17%;}
.soc_1 p { font-size:16px; color:#505050; margin-top:10px; line-height:20px;}
.facbook_share { width:30%; margin-right:3%;}
.facbook_share p { font-size:16px; color:#505050; line-height:20px; margin-top:15px;}

.soc_2 { background:#c4452d; font-size:25px; color:#fff; text-align:left;}
.soc_2 a { text-decoration:none; color:#fff;} 
.soc_2 i { padding:15px 25px; background:#dd4d3b; color:#fff;}
.soc_2 span { padding-left:16%;}
.soc_2 p { font-size:16px; color:#505050; margin-top:10px; line-height:20px;}
.googel_share { width:30%; margin-right:3%;}
.googel_share p { font-size:16px; color:#505050; line-height:20px; margin-top:15px;}

.soc_3 { background:#9ae4e8; font-size:25px; color:#fff; text-align:left;}
.soc_3 a { text-decoration:none; color:#fff;} 
.soc_3 i { padding:15px 25px; background:#6db8bc; color:#fff;}
.soc_3 span { padding-left:16%;}
.soc_3 p { font-size:16px; color:#505050; margin-top:10px; line-height:20px;}
.twitter_share { width:30%; margin-right:3%;}
.twitter_share p { font-size:16px; color:#505050; line-height:20px; margin-top:15px;}





.cashback-report .av_cash { display:block;} 
.av_cash { width:28%; margin:25px 15px 25px 10px;}
.cashback-report li { border:2px solid#f3ab00; padding:0px;}
.cashback-report li h4 { border-bottom:2px solid#f3ab00; padding:10px 15px; font-family:"open Sans"; font-weight:600;}
.cashback-report li h4 i {
border: 2px solid#f3ab00;
border-radius: 100px;
padding: 6px 10px;
width: 30px;
height: 30px;
color:#f3ab00;
margin-right:8px;
}
.cashback-report li h3 { text-align:center; padding:10px 0px;; font-size:25px;} 
.new_a { width:21%;}
.redeem { padding:0px; text-align:center; -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;}
.redeem h3{ background:#f0ad00;padding:12px 0px; font-size:20px; font-family:"open Sans"; color:#fff;}
.redeem h4{ background:#1bbc9b;padding:10px 0px; font-size:18px; font-family:"open Sans"; color:#fff;}

#basic-details {
cursor: pointer;
}
.profile-steps .active-step {
background-color: #f3ab00;
color: #fff;
}
.profile-steps.white-well {
padding: 0 15px;
overflow: hidden;
}
.profile-steps {
margin-bottom: 50px;
overflow: hidden;
}

.white-well {
/* background-color: #fff; */
padding: 10px 15px;
border-radius: 5px;
border: 1px solid #f1f1f1;
}
.profile-steps .col-sm-6 {
padding: 8px 0 ;
}
profile-steps .border:before {
content: "";
position: absolute;
right: -70px;
top: -11px;
color: #fff;
width: 0;
height: 0;
border-right: 35px solid transparent;
border-left: 35px solid;
border-top: 35px solid transparent;
border-bottom: 35px solid transparent;
z-index: 9;
}
.profile-steps .border:after {
content: "";
position: absolute;
right: 0;
top: 0;
bottom: 0;
margin: auto;
margin-right: -48px;
color: #f3ab00;
width: 0;
height: 0;
border-right: 24px solid transparent;
border-left: 24px solid;
border-top: 24px solid transparent;
border-bottom: 24px solid transparent;
z-index: 15;}
#full-profile-details {
cursor: pointer;
}
#basic-details span {
border: 1px solid#FFFFFF;
width: 30px;
height: 30px;
/* border: 1px; */
border-radius: 50px;
padding: 7px;
color: #000;
background: #fff;
font-size:13px;
}
.profile_edit { margin-top:40px;}

#full-profile-details i {
border: 1px solid#FFFFFF;
width: 30px;
height: 30px;
border-radius: 50px;
padding: 7px;
color: #fff;
background: #5ab987;
font-size:13px;
}
.btn-feat{ background:#1bbc9b; width:80%; border-radius:4px; padding:15px 0px; color:#fff;}

.open>.dropdown-menu { display:none;}
.new_drop {
border: 1px solid#ccc;
border-radius: 4px;
background: #fff;
padding: 8px 20px !important;
}
.new_drop i { padding: 7px 8px; width:30px; height:30px; border:1px solid#f3ab00; color:#fff; background:#f3ab00; border-radius:100px;}
li.dropdown.new_drop {
float: right;
}
.new_creat { border-top: 6px solid#ccc;;
border-right: 6px solid transparent;
border-left: 6px solid transparent;
}



.work-bg{ background:url(../images/girl.jpg)background-repeat:no-repeat;
background-size:100%; height:415px; margin-top:15px;}

.bg-text{}
.bg-text h3{  color: #fff;
  padding: 12px;
  background: #ff8a00;
  width: 36%;
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
  margin-top: 50px;
  font-family: Tw Cen MT;
  border-radius:4px;
}

.bg-text h2{  background: #1bbc9b;
  color: #fff;
  padding: 12px;
  /* background: #ff8a00; */
  width: 44%;
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
  margin-top: 5px;
  font-family: Tw Cen MT;
  border-radius: 4px;}
.bg-text p{font-size: 18px;
  font-family: "open Sans";
  line-height: 30px;
  width: 46%;
  margin-top: 11px;
  margin-bottom: 23px;
  font-size: 20px;}
  
.btn-member{padding:10px; background:#255d76;}
.bg-text h4{margin-top:20px; font-size:16px;}
.btn-login{color:#255d76; font-size:16px;}
.shoping-hd{margin-left:10px;}
.shoping-1{background:#00405d;}
.shoping-icon{padding:58px 46px;}
.shoping-text{padding: 55px 7px;
  /*margin-left: 91px;*/}
.shoping-text p{color:#fff; font-family:"open Sans"; font-size:40px; font-weight:600; margin-left: 103px;}
.no{padding: 1px 14px 1px 14px; font-size:30px; border-radius:50%; background:#1bbc9b; border:2px solid#fff;}
.shoping-text h4{color:#fff; margin-top: 19px; font-size:25px; margin-bottom:11px; font-weight:600;}
.shoping-text h5{width:81%; font-size:16px; color:#fff; line-height:29px;}

section.rupee {
  background: #1bbb9b;
}
.no2 {
  padding: 1px 14px 1px 14px;
  font-size: 30px; color:#fff;
  border-radius: 50%;
  background: #ff8a00;
  border: 2px solid#fff;
}
span.cashback {
  color: #fff;
  font-size: 40px;
  margin-left: 12px;
  font-weight: 600;
}

.cashback-c {
  padding: 53px 20px;
  margin-left: 59px;
  width: 55%;
}
 
 .cashback-c h4 {
  color: #fff;
  margin-top: 19px;
  font-size: 25px;
  margin-bottom: 11px;
  font-weight: 600;
}

.cashback-c h5 {
  /* width: 79%; */
  font-size: 16px;
  color: #fff;
  line-height: 29px;
}
.case-icon {
  padding: 58px 46px;
}
.case-head{margin-left:125px;}

.transfer{background:#ff8700;}
.transfer-icon{padding:58px 46px;}
.transfer-text{padding: 55px 7px;
  /*margin-left: 91px;*/}
.transfer-text p{color:#fff; font-family:"open Sans"; font-size:40px; font-weight:600; margin-left: 60px;}
.no3{padding: 1px 14px 1px 14px; font-size:30px; border-radius:50%; background:#255d76; border:2px solid#fff;}
.transfer-text h4{color:#fff; margin-top: 19px; font-size:25px; margin-bottom:11px; font-weight:600;}
.transfer-text h5{width:81%; font-size:16px; color:#fff; line-height:29px;}
.transfer-hd{margin-left:10px;}


  
  .find h2{font-size:35px; color:#255d76; font-weight:600; font-family:"open Sans";}
  .find h2 img{padding:10px;}
  .slid{ width:0px;}
  
.carousel-control .glyphicon-chevron-left, .sd{margin-left: 0px;
  /* background: #000; */
  border-radius: 4px;
  font-size: 18px;
  padding-top: 4px;
  border: 2px solid#a3a3a3;
  background:none;
  color: #a3a3a3;
  }


.carousel-control .glyphicon-chevron-right, .sd {
 border-radius: 4px;
  font-size: 18px;
  padding-top: 4px;
  border: 2px solid#a3a3a3;
  background:none;
  color: #a3a3a3;
}

.my-slid{
	  /* position: relative; */
    width: 94%;
  overflow: hidden;
  text-align: center;
  margin: 34px;
  padding-bottom: 0px;
 
}
.slid-icon{bottom:0px;}
.outer-slide{padding:0px 10px;}
.slider-bg{background:#fff;}
.subscribe{text-align:center; padding:25px;}
.subscribe h2{font-size:30px; color:#797979; font-family:"open Sans"; margin-top: 7px;}
.subscribe p{font-size:14px; color:#797979; font-family:"open Sans";}
.msg-img{padding: 16px 45px;
  background: #fff;
  border: 1px solid#e2e2e2;
  border-top: 5px solid#e2e2e2;}

/*#######################################################*/

.form-group .login-field-icon {
	font-size: 20px;
	position: absolute;
	right: 15px;
	top: 3px;
	transition: all 0.25s ease 0s;
	padding-top: 2%;
}
.modal-dialog {
	width: 70%;
}
.share {
	padding: 0px 5px;
	width: 50%;
}
.form-group {
	margin-bottom: 10px;
}
.form-control {
	/*height: 40px;*/
}
input {
	text-align: center;
}
.form-control .join_input {
	height: 40px;
}
.modal-social-icons h3 {
	color: #ef7900;
	border-bottom: 1px solid#8c8c8c;
	margin: 5% 27%;
	padding-bottom: 1%;
}
.join h3 {
	color: #ef7900;
	text-align: center;
	padding-bottom: 1%;
	font-size: 20px;
}
.modal-content {
	border: 2px solid#ef7c06;
	border-radius: 4px;
}
.join {
	background: #f5f5f5;
}
.main {
	padding: 0px 40px;
	border-right: 2px solid#ef7900;
}
.login-form  {
	padding: 0px 10%;
	border-right: 2px solid#ef7900;
}
.main h3 {
	text-align: center;
	color: #ef7900;
	padding-bottom: 10px;
	font-size: 20px;
}
.main h3 {
	text-align: center;
        margin-top: 20px;
}
.new-btn {
border-radius: 0px;
font-size: 14px;
background: #3b5a9b;
border: 0px;
padding: 10px 3px;}

.new-btn.googel {
	background: #dc4a38;
}
.ckek span {
	font-size: 14px;
}
form.chek {
	padding: 0px 10%;
	font-size: 12px;
}
.chek span {
	padding-left: 10px;
}
.row {
	margin: 0px;
}
.btn-join-free {
	width: 100%;
	background: #16b595;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 15px;
}
.new-btn i {
	float: left;
	padding-left: 6px;
	padding-top: 5px;
	border-right: 1px solid#fff;
	padding-right: 10px;
}
.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
}
.login-or h4 {
margin-top: 24px;
color: #717171;
}
.join_form {
	padding: 10px 10% 0px 10%;
}
.span-or {
display: block;
position: absolute;
left: 50%;
top: -2px;
margin-left: -25px;
/* background-color: #B0B0B0; */
width: 30px;
text-align: center;
font-weight: bold;
font-size: 20px;
color:#717171;
}
hr { border-top:0px;}
.why_signup ul li {
	list-style: none;
	padding-bottom: 10px;
	font-size: 16px;
}
.why_signup ul li i {
	padding-right: 5px;
	font-size: 20px;
	color: #16b595;
}
.why_signup ul {
	padding-left: 0px;
}
.why_signup h6 {
	font-size: 18px;
	color: #ef7900;
	line-height: 25px;
	padding-top: 2%;
}
.why_signup h5 {
	font-size: 20px;
	color: #ef7900;
	text-align: center;
	font-weight: bold;
	padding: 4% 0px;
}
.why_signup {
	padding-top: 20px;
	width: 85%;
	margin: 0 auto;
}
.brand-follow {
	padding: 2% 0px 7% 0px;
}
.login { width:35%;}
form.form.login_form {
width: 80%;
margin: 0 auto;
}
.modal-dialog.forget {
width: 40%;
margin-top: 4%;
}
@media(max-width:990px){ 
.main { border-right:none !important;}
.modal-dialog {
 width: 97%; 
}
.forget {
width: 96% !important; }
}

/* #### COUPON POPUP ##### */

.get_deal_pop {
    color: #838383;
}
.get_deal_pop {
    font-size: 15px;
    text-align: center;
    width: 100%;
}
.coupon-popup .coupon-code-container {
    margin-bottom: 15px;
}
.top_pop {
    margin-bottom: 20px;
    margin-top: 20px;
}
.coupon-code-container {
    margin-bottom: 20px;
}
.coupon-code {
    border: 1px solid #cacaca;
    border-radius: 5px;
    color: #585858;
    font-size: 25px;
    line-height: 40px;
    padding-left: 5px;
    text-align: left;
    text-transform: uppercase;
    width: 400px;
}
.coupon-instruction {
    font-size: 20px;
    margin-bottom: 10px;
}
.popover.for-button {
    border-radius: 2px;
    display: none;
    padding: 0;
    top: calc(100% + 10px);
    white-space: nowrap;
}
.popover.for-button div {
    color: #787985;
}
.popover.for-button div {
    border-bottom: 1px solid #cacaca;
    cursor: pointer;
    display: block;
    padding: 7px 10px;
}
.copy-code {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    padding: 0 20px;
    vertical-align: top;
}
.inline-block {
    display: inline-block !important;
}
.top_pop h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.code {
    border: 1px solid #cacaca;
    border-radius: 5px;
    color: #585858;
    font-size: 25px;
    line-height: 40px;
    padding-left: 5px;
    text-align: left;
    text-transform: uppercase;
    width: 400px;
}
.new_inline {
}
.sms {
    background: rgba(0, 0, 0, 0) url("../img/sms.png") no-repeat scroll 0 0;
    float: left;
    height: 14px;
    margin-right: 10px;
    width: 30px;
}
/*.email {
    background: rgba(0, 0, 0, 0) url("../img/email.png") no-repeat scroll 0 0;
    float: left;
    height: 14px;
    width: 30px;
}*/
.popop-offer {
    background: #f2f2f2 none repeat scroll 0 0;
}
.coupon-title {
    margin-top: 20px;
}
.coupon-title h4 {
    float: left;
    font-family: inherit;
    font-size: 24px;
    margin: 0;
}
.coupon-title span {
    float: left;
    font-size: 24px;
    margin-left: 14px;
    margin-top: -3px;
}
.coupon-description {
    line-height: 20px;
    padding: 0 25px;
}
.separated-data {
    margin-bottom: 10px;
    margin-top: 20px;
}
.separated-data > div {
    border-right: 1px solid #939393;
    padding: 0 15px;
}
.voting {
    margin-right: 0;
}
.no-border {
    border: 0 none !important;
}
.sharing, .voting {
    line-height: 25px;
    position: relative;
    top: -1px;
}
.inline-block {
    display: inline-block !important;
}
.voting div.voteup {
    background-image: url("../img/ic_action_like.png");
}
.sharing div.sms, .voting div:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.sharing > div, .voting div {
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    display: inline-block;
    height: 29px;
    vertical-align: middle;
    width: 44px;
}
.voting div.votedown {
    background-image: url("../img/ic_action_dislike.png");
}
.sharing div.email, .voting div:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-left: -5px;
}
.voting div {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 #dfdfdf;
}
.sharing > div, .voting div {
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    display: inline-block;
    height: 29px;
    vertical-align: middle;
    width: 44px;
}
.separated-data > div {
    border-right: 1px solid #939393;
    padding: 0 15px;
}
.coupon-success {
    color: #27ae60;
    font-weight: 700;
}
.separated-data > div {
    border-right: 1px solid #939393;
    padding: 0 15px;
}
.no-border {
    border: 0 none !important;
}
.coupon-end {
    color: #e74c3c;
}
.view-all {
    font-size: 20px;
    padding-bottom: 20px;
}
.share-coupon {
    display: inline-flex;
    margin-bottom: 10px;
}
.sharing.inline-block {
    margin-left: 10px;
}
.modal-content {
    border: 2px solid #ff7f13;
}
.get {
    width: 704px;
}
@media (max-width: 990px) {
.main {
    border-right: medium none !important;
}
.modal-dialog {
    width: 97%;
}
.forget {
    width: 96% !important;
}
}

