<?php

//pr($data); ?>
<section class="work-bg">
    <div style="padding: 50px; text-align: center;">
        <h3><?php echo $data['heading'];?></h3>
        <p style="margin-top: 20px;"><?php echo $data['message'];?></p>
    </div>
</section>
<?php //echo $this->element('sql_dump'); ?>